#loader{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
#loader::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 6px solid #ccc;
    border-top-color: #888;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
#pay{
    background: #360033; 
    background: linear-gradient(to right, #0b8793, #360033); 
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2),0px 10px 20px rgba(0,0,0,0.3),0px 30px 60px 1px rgba(0,0,0,0.5);
    border-radius: 8px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    padding:50px;
    padding-top: 30px;
    margin-bottom: 130px;
}
.left{
    color: whitesmoke;
    border-bottom: 1px solid white;
    position: relative;
    padding-bottom: 18px;
}
body{
    font-family: "Lato", sans-serif;
    background-color: whitesmoke;
    margin:0;
}
.header {
    padding: 10px;
    text-align: center;
    color: rgb(73, 71, 71);;
    font-size: 20px;
}
.btn{
    background-color: white;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
    float: right;
}
a{
    text-decoration: none;
    color: black;
    float: right;
    background-color: white;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
}